
@{
    ViewData["Title"] = "Create";
}
   

<header>
    <nav class="bg-light text-center">
        <a href="/Students/GetAll" class="navbar-brand ">GetAll</a>
        <a href="/Students/Create" class="navbar-brand ">Create</a>
        <a href="/Students/Update" class="navbar-brand ">Update</a>
        <a href="/Students/Delete" class="navbar-brand ">Delete</a>
    </nav>
</header>
<main class="text-center">
    <h1>Create</h1>
    <form>
        <label>Student Name</label>
        <input type="text" />
        <label>Student Id</label>
        <input type="number" />

        <input type="submit" name="Create" />

    </form>
</main>
<footer class="bg-light text-center">
    this is Create footer
</footer>



