
@{
    ViewData["Title"] = "GetAll";
}




<header>
    <nav class="bg-light text-center">
        <a href="/Students/GetAll" class="navbar-brand ">GetAll</a>
        <a href="/Students/Create" class="navbar-brand ">Create</a>
        <a href="/Students/Update" class="navbar-brand ">Update</a>
        <a href="/Students/Delete" class="navbar-brand ">Delete</a>
    </nav>
</header>
<main>
    
    <h1>GatAll</h1>
    <ol >
        <li>
          Ali
        </li>
        <li>
            Ahmad
        </li>
        <li>
            Aya
        </li>
        <li>
            Ajyad
        </li>
        <li>
            Mohammad
        </li>
    </ol>
    </>
</main>
<footer class="bg-light text-center">
    this is GetAll footer
</footer>




