@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET App </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <h3>Task Student Contcontrolle</h3>
    <br />
    <nav class="bg-light text-center">
        <a href="/Students/GetAll" class="navbar-brand ">GetAll</a>
        <a href="/Students/Create" class="navbar-brand ">Create</a>
        <a href="/Students/Update" class="navbar-brand ">Update</a>
        <a href="/Students/Delete" class="navbar-brand ">Delete</a>
    </nav>

</div>
